/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,900);
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}